@import "../config/base-import";
@import "../components/actions";
@import "../components/messages";
@import "../components/top-menu";
@import "../components/side-nav";
@import "../components/miwt";
@import "../components/miwt-tables";
@import "../components/miwt-menu";
@import "../components/miwt-dialog";
@import "../components/tabs";
@import "../components/search-ui";
@import "../components/pager";
@import "../components/prop-ui";
@import "../components/file-chooser";

body {
	font-family: $font-roboto;
	font-weight: 300;
}

#main-wrapper main { padding-bottom: 3rem; }

::selection {
	background: #FF6C60;
	color: #fff;
}

.update-password-dialog {
	width: 40rem !important;
	.windowcontent {
		text-align: center;
	}
}

#main-content-wc-0 {
	h1, h2, h3 {
		font-weight: 300;
		padding: .75rem 0 1rem;
	}
	.text h1 {
		font-size: 2rem;
		color: $color-lr-grey;
	}
}

section {
	> h1 {
		margin: 10px 0;
		font-size: 2rem;
	}
	section > h1 {
		font-size: 1.75rem;
		margin: 10px 0;
	}
}

.miwt-calendar {
	button.open,
	button.clear {
		border: none;
		background: inherit;
		box-shadow: none;
		color: #fff;

		&:before {
			visibility: visible;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f073";
			color: $color-lr-light-grey;
		}
		&:hover {
			color: #fff;
			&:before {
				color: $color-lr-black;
			}
		}
	}
	button.clear {
		padding-right: 0;
		&:before {
			content: '\f00d';
		}
	}
}

.miwt .menu-component .menu-items {
	.default, .meeting, .meeting-group,
	.plan-start-date, .form, .email, .resource, .reminder, .email-login-info, .assign-eg, .confirmation,
	.result-upload,	.fileentity, .uri, .manual {
		a.menu-item{
			display: inline-block;
			width: calc(100% - 30px);
		}
		&:before {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: '\f096';
		}
	}
	.plan-start-date:before {content: "\f271";}
	.form:before { content: "\f00b"; }
	.email:before {content: "\f003";}
	.resource:before { content: "\f0b1"; }
	.reminder:before {content: "\f274";}
	.email-login-info:before {content: "\f090";}
	.manual:before {content: "\f14a";}
	.assign-eg:before {content: "\f234";}
	.confirmation:before {content: "\f087";}
	.result-upload:before {content: "\f093";}

	.default:before {content: "\f012";}
	.meeting:before {content: "\f007";}
	.meeting-group:before {content: "\f0c0";}

	.fileentity:before {content: "\f016";}
	.uri:before {content: "\f0c1";}
}

.instructions {
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: $color-lr-grey;
	font-style: italic;
}
p.instructions {
	padding-bottom: 0;
}

.prop-wrapper {

	.prop.time {
		.prop-group-title { margin-top: 0; }
	}

	.prop.timezone {
		> label { margin-top: 15px; }
	}

}

#page-footer {
	padding: 2rem 0;
	background: #4F5A69;
	width: 100%;
	display: block;
	color: $color-white;
	text-align: center;

	p {
		margin: 0;
	}

}

.select2-container--open {
	z-index: 1200;
}

.user-search {
	.search-results {
		thead tr th {
			&:nth-of-type(2) {
				min-width: 7rem;
			}
			&.control {
				min-width: 3.5rem;
			}
		}
		tbody tr td:nth-of-type(8) {
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-all;
		}
	}
}

@media (max-width: 767px)
and (orientation:portrait) {
	.header {
		min-height: 50px;
	}
}

/*
.select2-container {
	font-size: .98rem;
}
.select2-container span.select2-selection--multiple,
.select2-container--default span.select2-selection--multiple {
	display: inline-block;
}
.select2-selection--multiple .select2-search__field {
	width: 100% !important;
}
*/
