@import "../config/base-import";
@import "../components/messages";
@import "../components/top-menu";
@import "../components/side-nav";
@import "../components/miwt";
@import "../components/miwt-tables";
@import "../components/miwt-menu";
@import "../components/miwt-dialog";
@import "../components/tabs";
@import "../components/search-ui";
@import "../components/pager";
@import "../components/prop-ui";
@import "../components/file-chooser";
@import "../components/actions";


.update-password-dialog {
	width: 40rem !important;
	.windowcontent {
		text-align: center;
	}
}

.select2-container {
	font-size: .98rem;
}
.select2-container span.select2-selection--multiple,
.select2-container--default span.select2-selection--multiple {
	display: inline-block;
}
.select2-selection--multiple .select2-search__field {
	width: 100% !important;
}