@import "../config/base-import";

.flex-container {
	> .tasks {
		display: block;
		border-left: none;
		padding-left: 0;
	}

	#action-item-mgt .miwt-table > tbody > tr > td {
		padding: 0 0 1.75rem;
	}

}

@media (min-width: 768px) {
	.pager-engagement-results {
		.engagement-actions {
			top: 27px;
		}
	}
}