@import "../config/base-vars";

// OPERATIONS & CONFIGURATION
// LANDING PAGE STYLES
#operation, #configuration {

  #main-content-wc-0 .inlinewindowcontent > div, #main-content-wc-0 .inlinewindowcontent > section {

    h1, h2 {
      margin-bottom: 0;
      border-bottom: 1px solid $color-lr-grey;
    }

  }

  .search-wrapper {

    .actions.entity-actions {
      margin-top: -4rem;
    }

    .search-bar {
      clear: both;
    }
  }

}