$tab-content-color-bg: inherit;
@import "../components/goal_tabs";
@import "../components/strength-meter";
@import "../../../../bower_components/bootstrap/scss/mixins/border-radius";
@import "../../../../bower_components/bootstrap/scss/mixins/clearfix";

.personal-goals,
.leadership-goals,
.organizational-goals {
	display: flex;
}

.repo-item-selector {
	flex: 0 0 auto; /* need to explicitly state all 0 0 auto for safari */
	background: #fff;
	border-right: 1px solid #ddd;
	padding: 0 .75rem;
}

.goal-configuration {
	flex: 1 0;
	margin: 1rem;

	label {
		font-weight: 500;
		color: $color-lr-grey;
		margin-bottom: 0;
	}

	> .prop-group {
		flex: 1;
		@include border-radius();
		background-color: $color-white;
		padding: 1rem 1rem 1.75rem;
		margin: 1rem;
		min-width: 30rem;
	}

	.goal-basics, .smart-wrapper {

		.btn {
			@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $line-height-sm, $btn-border-radius-sm);
		}

	}

}

.smart-wrapper > .prop-group,
.goal-configuration > .prop-group {
	flex: 1 0 auto; /* Need to explicitly state 1 0 auto for Safari */
	@include border-radius();
	background-color: $color-white;
	margin: 1rem;
	overflow: hidden;

	.prop-group, .actions, .goal-dates-values, .alignment, > .prop .val, .add-new-alignment > .user-entry-required {
		padding: 0 1.5rem;
	}

}

.goal-basics {
	flex: 0 0 100%;
	@include clearfix();
	color: $color-lr-grey;
	padding: 1rem 0 1.75rem !important;

	.goal-type {
		display: none;
	}
	.prop.name {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #ddd;
		font-size: 1.25rem;
		label {
			margin-bottom: 0;
			padding-top: .35rem;
		}
		label:after {
			content: ": ";
			padding-right: 1ch;
		}
		label, .val {
			display: inline-block;
		}
		.goal-info-actions {
			display: inline-block;
			margin-left: 1rem;
			padding-right: 0;
			float: right;
		}
	}
	.prop.description {
		float: left;
		padding-right: 1.5rem;
		width: calc(100% - 25.5rem);
	}

	.prop.status {
		float: left;
		padding: 0 1rem;
	}

	.smart-gauge {
		float: left;
		text-align: center;
		margin-left: 32px;
		padding-right: 0 !important;
	}
}

.smart-section-label-wrapper {
	margin-top: 2rem;
	padding-left: 1rem;
}

.smart-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;

	> .prop-group {
		width: 95%;
		color: $color-lr-grey;

		> div:first-child {
			font-size: 1.25rem;
			font-weight: 500;
		}

		.actions {
			margin: 1rem 0;
		}
	}
	.prop {
		margin-bottom: .75rem;
		label {
			margin-bottom: 0;
		}
		div.val {
			font-size: 1rem;
			font-weight: 300;
		}
	}
}

.make-smart-label {
	text-indent: 1rem;
	font-size: 1.5rem;
	font-weight: 500;
	color: $color-lr-grey;

	> span {
		font-style: italic;
	}

}

.dates-label,
.goal-measurement-label,
.prop.confidence label,
.prop.control label,
.prop.clarity label,
.goal-tracking-label,
.prop.sign-off label,
.goal-alignment-label {
	font-weight: 500;
	color: $color-lr-grey;
	margin-bottom: .75rem;
	display: block;
	padding: 1rem 1.5rem;
	background: lighten($color-lr-light-grey, 25%);
}

.goal-dates-values {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.prop {
		flex: 1;
	}
}

.prop-group.measure-config {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.prop {
			flex: 10 45%;

		&.description,
		&.recording-question {
			flex-basis: 100%;
		}
	}
}
.word-actions {
	display: inline-block;
}
.words {
	caption {
		margin-top:0;
		caption-side:bottom;
	}
	.word {
		margin-left: 2ch;
		display: list-item;
	}
}
.prop-editor .prop span.rtb {
	display: block;
	padding-left: 0;
	margin-bottom: .35rem;

	+ span.rtb {
		padding-left: 0;
	}

	label {
		display: inline;
		padding-left: .25rem;
	}

}

.edit-goal-dialog {
	width:50rem !important;
	.prop-header{
		display: none;
	}
	.prop-body{

	}

}

@media (min-width:1024px) {
	.smart-wrapper {
		align-items: stretch;
		flex-flow: row wrap;
		justify-content: space-between;

		> .prop-group {
			width: 45%;
		}

	}
}