@import "../components/resource-card";
@import "../components/plan-switcher";

.search-bar {
	padding: 0;

	.constraint {
		margin: 0;
		padding: 0;

		.resource-keyword {
			padding: 0;
		}

		+ .constraint {
			margin-left: 1.5rem;
		}
	}

}

.inlinewindow .resource-viewer {
	width: 350px;
	margin: 1rem;
}

.resource-mgt.search .entity-actions {
	float:none;
	margin: 1rem;
	text-align: right;
}

.actions.content-actions {
	label {
		display: block;
		margin-bottom: .25rem;
		font-size: 90%;
	}
}

@media (max-width: 600px) {

	.resource-library-heading {
		margin-top: -3rem;
	}

	.search-bar {
		.constraint {
			margin-bottom: 1rem;
			+ .constraint {
				margin-left: 0;
			}
		}
		.actions {
			padding: 0;
		}
	}
	#main-content-wc-0 h1 {
		padding-left: 0 !important;
	}
	.resource-listing {
		div.resource {
			flex: 1 0 auto;
			.resource-viewer {
				margin: 1rem 0;
			}
		}
	}
}

@media (min-width: 768px) {

	.resource-listing {
		flex-flow: row wrap;

		div.resource {
			flex: 1 0 50%;
			max-width: 50%;
		}
	}

}

@media (min-width: 1300px) {
	.resource-listing {
		div.resource {
			flex: 1 0 25%;
			max-width: 25%;
		}
	}
}

