$tab-content-color-bg: inherit;
@import "../components/plan-switcher";
@import "../components/goal_tabs";
@import "../components/strength-meter";
@import "../../../../bower_components/bootstrap/scss/variables";
@import "../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../bower_components/bootstrap/scss/buttons";
//@import "../../../../bower_components/bootstrap/scss/mixins/border-radius";
//@import "../../../../bower_components/bootstrap/scss/mixins/clearfix";

.personal-goals,
.leadership-goals,
.organizational-goals {
	display: flex;
}

#side-nav .menu .mi.goals a {
	background: #4f5a69;
}

.repo-item-selector.goal-selector {
	flex: 0 0 auto; /* need to explicitly state all 0 0 auto for safari */
	background: #fff;
	border-right: 1px solid #ddd;
	padding: 0 .75rem;

	.actions .btn {
		white-space: normal;
		width: 100%;

		/*&.status-active {
			@include button-variant($color-white, $color-lr-brand, darken($color-lr-brand, 15%));
		}

		&.status-completed {
			@include button-variant(darken($color-lr-brand, 15%), lighten($color-lr-brand, 30%), darken($color-lr-brand, 25%));
		}

		&.status-draft {
			@include button-variant(darken($color-lr-light-grey, 18%), lighten($color-lr-light-grey, 25%), $color-lr-light-grey);
		}

		&.active {
			box-shadow: 0 0 10px rgba(0,0,0,0.7) !important;
		}*/

	}

	.goalconfig-results {

		.actions {
			padding: .75rem 0 1.25rem;
			border-bottom: 1px solid lighten($color-lr-light-grey, 15%);

			.btn {
				background: transparent;
				border: none;
				box-shadow: none;
				color: $color-lr-brand;
				text-decoration: underline;
				font-size: .9rem;
				padding: .5rem .375rem;
				margin: 0;
				line-height: 1.35;

				&:hover {
					text-decoration: none;
				}

				&.active {
					border: 1px solid $color-lr-brand;
					box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
					text-decoration: none;
				}

			}

		}

		tr.last {

			.actions {
				border-bottom: 0;
			}

		}

	}

	.repo-item-search {
		.search > .actions.entity-actions {
			.btn.add {
				&::after {
					content: '+';
					display: inline-block;
					vertical-align: middle;
					padding-left: 3px;
					margin-top: -2px;
					font-size: 110%;
				}
			}
		}
	}

}

.goal-configuration {
	flex: 1 0;
	margin: 1rem;

	label {
		font-weight: 500;
		color: $color-lr-grey;
		margin-bottom: 0;
	}

	> .prop-group {
		flex: 1;
		@include border-radius();
		background-color: $color-white;
		padding: 1rem 1rem 1.75rem;
		margin: 1rem;
		//min-width: 30rem;
	}

	.goal-basics, .smart-wrapper {

		.btn {
			@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $line-height-sm, $btn-border-radius-sm);
		}

	}

	.message-container {
		.actionable-message {
			flex-direction: column;
		}
	}

}

.smart-wrapper > .prop-group,
.goal-configuration > .prop-group {
	flex: 1 0 auto; /* Need to explicitly state 1 0 auto for Safari */
	@include border-radius();
	background-color: $color-white;
	margin: 1rem;
	//overflow: hidden;

	.prop-group, .actions, .goal-dates-values, .alignment, > .prop .val,
	.add-new-alignment > .user-entry-required, .prop.ev-prop {
		padding: 0 1.5rem;
	}

}

.goal-basics {
	flex: 0 0 100%;
	@include clearfix();
	color: $color-lr-grey;
	padding: 1rem 0 1.75rem !important;

	.goal-type {
		display: none;
	}
	.prop.name {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #ddd;
		font-size: 1.25rem;
		label {
			margin-bottom: 0;
			padding-top: .35rem;
		}
		label:after {
			content: ": ";
			padding-right: 5px;
		}
		label, .val {
			display: inline;
			white-space: normal;
		}
		.goal-info-actions {
			display: inline-block;
			margin-left: 1rem;
			padding-right: 0;
			float: right;
		}
	}
	.prop.description {
		float: left;
		padding-right: 1.5rem;
		width: calc(100% - 25.5rem);
	}

	.prop.status {
		float: left;
		padding: 0 1rem;
	}

	.smart-gauge {
		float: left;
		text-align: center;
		margin-left: 32px;
		padding-right: 0 !important;
	}
}

.smart-section-label-wrapper {
	margin-top: 2rem;
	padding-left: 1rem;
}

.smart-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;

	> .prop-group {
		width: 95%;
		color: $color-lr-grey;

		> div:first-child {
			font-size: 1.25rem;
			font-weight: 500;
		}

		.actions {
			margin: 1rem 0;
		}
	}
	.prop {
		margin-bottom: .75rem;
		label {
			margin-bottom: 0;
		}
		div.val {
			font-size: 1rem;
			font-weight: 300;
		}
	}

	.prop-group {

		&.goal-tracking, &.goal-alignment {

			.btn.add {
				background-color: $color-white;
				border-color: $color-lr-brand;
				color: $color-lr-brand;

				&:hover {
					background: lighten($color-lr-light-grey, 25%);
					color: $color-lr-brand;
				}

			}

		}

	}

}

.make-smart-label {
	text-indent: 1rem;
	font-size: 1.5rem;
	font-weight: 500;
	color: $color-lr-grey;

	> span {
		font-style: italic;
	}

}

.goal-ev {
	.ev-label {
		font-size: 1rem;
	}
}

.dates-label,
.goal-measurement-label,
.prop.confidence label,
.prop.control label,
.prop.clarity label,
.goal-tracking-label,
.prop.sign-off label,
.goal-alignment-label,
.ev-wrapper label {
	font-weight: 500;
	color: $color-lr-grey;
	margin-bottom: .75rem;
	display: block;
	padding: 1rem 1.5rem;
	background: lighten($color-lr-light-grey, 25%);
	border-top-left-radius: $border-radius-sm;
	border-top-right-radius: $border-radius-sm
}

.prop-group.goal-alignment {
	.select2-container {
		margin-left: 8px;
		width: 10rem !important;
	}
}

.goal-dates-values {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.prop {
		flex: 1;
	}
}

.prop-group.measure-config {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.prop {
			flex: 10 45%;

		&.description,
		&.recording-question {
			flex-basis: 100%;
		}
	}
}
.word-actions {
	display: inline-block;
}
.words {
	caption {
		margin-top:0;
		caption-side:bottom;
	}
	.word {
		margin-left: 2ch;
		display: list-item;
	}
}
.prop-editor .prop span.rtb {
	display: block;
	padding-left: 0;
	margin-bottom: .35rem;

	+ span.rtb {
		padding-left: 0;
	}

	label {
		display: inline;
		padding-left: .25rem;
	}

}

.edit-goal-dialog {
	width:50rem !important;
	.prop-header{
		display: none;
	}

	.notification-schedule {
		margin-bottom: 0;

		.prop {

			&.schedule {
				padding: 0;
				margin: 0;
			}

			&.month {
				padding: 0;

				.select2-container {
					width: 8rem !important;
					max-width: none !important;
				}
			}

			&.dow, &.wom {
				padding: 0;
			}

			.label-after label, .label-after label span {
				text-transform: none;
			}

		}

	}

}

.goal-management {

	.actions.nav-actions {

		a.view-progress, .btn {
			border: 1px solid $btn-primary-border;
			@include button-variant($color-lr-brand, $color-white, $btn-primary-border);
			@include button-size($btn-padding-y, $btn-padding-x, $font-size-root, $line-height-lg, $border-radius-sm);
			display: inline-block;
			vertical-align: middle;
			font-weight: 400;

			&:hover {
				text-decoration: none;
			}

		}

		a.view-progress {
			&::before {
				content: '\f080';
				font-family: FontAwesome;
				padding-right: 3px;
			}
		}

		.btn {
			&::before {
				content: '\f140';
				font-family: FontAwesome;
				padding-right: 3px;
			}
		}

	}

}

div.window.dialog {

	.prop-header-actions {
		display: none;
	}

	.select2-container {
		width: 45% !important;
	}

	textarea {
		width: 100%;
		height: 8rem;
	}

	&.add-alignment-dialog {
		.select2-container {
			width: 8rem !important;
		}
	}

	.add-new-alignment {
		label {
			display: block;
			margin-bottom: .25rem;
		}
		.select2-container {
			margin-bottom: 1.75rem;
		}
	}

	.preferences-editor {

		.prop.personal-goals-private-editor {
			padding: 0;
			margin: 0;
		}

		.goal-notification-time {
			padding: 0;
			margin-bottom: 2rem;

			> label {
				margin-top: 1.5rem;
				font-size: 1rem;
			}

			.zoned-time-editor {
				label {
					margin-top: 0;
					font-size: 1rem;
					font-weight: 300;
				}

				.time > span {
					display: inline-block;
					vertical-align: baseline;
					margin-bottom: .15rem;

					&.hours, &.minutes, &.clock-period {
						width: 5rem;
					}

					&.clock-period {
						.select2-container {
							width: 100% !important;
							max-width: none !important;
						}
					}

				}

				.prop.hours, .prop.timezone {
					padding-left: 0;
				}

			}

		}
	}

}

@media (max-width:768px) {
	#main-content-wc-0 {
		padding: .5rem .75rem;
	}

	.tab-container .tab-content {
		border: none !important;
	}

	.personal-goals,
	.leadership-goals,
	.organizational-goals {
		flex-flow: column nowrap;
	}

	.repo-item-selector {
		padding: 0;

		&.goal-selector {
			.actions .btn {
				width: auto;
			}
		}
	}

	.goal-management {

		.goal-selector {
			text-align: center;
		}

		.repo-item-search {

			.search-bar {
				width: 10rem;
				float: none;
				margin: 0 auto;
				text-align: left;
			}
			.pager-goalconfig-results {
				clear: both;
			}
		}

		.goalconfig-results .actions {
			text-align: center;
		}

	}

	.smart-wrapper {
		> .prop-group {
			margin: 1rem 0;
			width: 100%;
		}
	}

	.goal-configuration {
		margin: 0;
		flex: 1;

		> .prop-group {
			margin: 1rem 0;
		}
	}

	.prop-group.measure-config {
		flex-flow: column nowrap;

		.prop {
			flex: 1 0 0 !important;
		}

	}

	.goal-basics {

		.prop-group.goal-info {
			@include clearfix();
		}
		.prop.name {
			position: relative;
			padding-right: 2.25rem;

			.goal-info-actions {
				position: absolute;
				top: -5px;
				right: -1rem;
				float: none;
			}
		}
		.smart-gauge {
			clear: left;
			text-align: left;
			margin-left: 0;
		}
		.prop.name, .prop.description, .prop.status {
			clear: left;
			padding-left: 0;
			max-width: 100%;
			width: 100%;
			margin-bottom: .5rem;
		}
	}

	.edit-goal-dialog {
		width: 95% !important;
	}

}

@media (max-width:1024px) {
	.goal-basics {
		.prop.description {
			width: 100%;
			padding-bottom: 1.5rem;
		}
		.prop.status {
			padding-left: 0;
		}
	}
}

@media (min-width:1024px) {
	.smart-wrapper {
		align-items: stretch;
		flex-flow: row wrap;
		justify-content: space-between;

		> .prop-group {
			width: 45%;
		}

	}

	.repo-item-selector.goal-selector {
		width: 15rem;
	}

}

@media (max-width: 640px) {
	.goal-management {
		.actions.nav-actions {
			a.view-progress, .btn {
				color: transparent !important;
				width: 40px;
				overflow: hidden;
				white-space: nowrap;
				padding: .375rem .75rem;
				&::before {
					color: $color-lr-brand !important;
				}
			}
		}
	}
}