@import "../components/schedule";
@import "../components/time";
@import "../components/timeline";

.flex-container {
	display: flex;

	> .timeline-ui,
	> .tasks {
		flex: 2;
	}
	> .toolbox {
		padding: 0;
		flex: 1;
		margin: 1rem;
		.trigger {
			width: 100%;
			border: 1px solid $color-lr-light-grey;
			margin-top: 1rem;
			position:relative;
			&:after {
				display: inline-block;
				font: normal normal normal 20px/1 FontAwesome;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f147';
				position:absolute;
				top: 8px;
				right:6px;
			}
		}
		.hidden .trigger:after {
			content: '\f196';
		}
		input.selector {
			visibility: hidden;
			height: 0;
			width: 0;
			font-size: 0;
			position: absolute;
		}
		.element {
			border: 1px dotted $color-lr-light-grey;
			padding:.5rem;
			margin: 0.5rem 0 0 .5rem;
		}
		.name {
			font-weight: bold;
		}
		.desc {
			font-weight: 300;
			font-size: .75rem;
			overflow: hidden;
			max-height: 2rem;
			text-overflow: ellipsis;
		}

	}
	> .tasks {
		margin-left: 20px;
	}
}
.activity-configurer-dialog {
	width: 99% !important;
	height:99%;
	position:fixed!important;
	.titlebar_row td {
		border-bottom-width: 3px !important;
		border-bottom-color: $color-lr-light-grey !important;
	}
	.windowcontent {
		padding-top:0!important;
		overflow: hidden!important;
	}
	.activity-configurer {
		display:flex;
		.toc {
			flex: 1 0 15rem;
			padding-right: 1rem;
			border-right: 3px solid $color-lr-light-grey;
		}
		.activities-wrapper {
			flex:40;
			min-height: 90vh;
			max-height: 90vh;
			overflow: auto;
		}
	}
}