@import "../config/base-vars";

#side-nav, .fa-bars.tooltips {
	display: none !important;
}

.goal-updater {
	color: $color-lr-grey;

	.goal-update {
		padding-top: 0;
	}

	.goal-update-card {
		background: transparent;
		border: none;
	}

}

.card-headergoal-update-card-header {
	padding: 1.25rem 0;
}

.message-container {
	.brief {
		font-size: 80%;
	}
}

.goal-label {
	font-size: 1.5rem;
	border-bottom: 1px solid lighten($color-lr-light-grey, 25%);
	padding-bottom: .75rem;
	margin-bottom: 0;

	.goal-type-label {
		font-weight: 400;

		&::after {
			content: ':';
			padding-right: 5px;
		}

	}

}

div.prop.goal-progress {
	margin-bottom: 1rem;
}

.goal-update {
	/*display: flex;
	flex: 1 0 0;
	flex-flow: column nowrap;*/
	padding: 0;

	.goal-progress-label {
		font-size: 1.25rem;
		font-weight: 300;
		margin-bottom: .75rem;
	}
	label:not(.tbl) {
		font-weight: 400;
		&::after {
			content: ':';
			padding-right: 5px;
		}
	}
	input {
		border: 1px solid lighten($color-lr-light-grey, 25%);
		border-radius: $border-radius-sm;
	}

	&.card-block .card-block {
		padding: 0;
	}

	.tracking-metric-editor {
		padding: 1rem 1.5rem;
		margin-right: .5rem;
		background: $color-white;
		border-radius: $border-radius-sm;
		flex: 1;
	}

}

.goal-progress.int-measure-value-editor {
	/*display: flex;
	flex: 1 0 0;
	flex-flow: column nowrap;*/
	border: none;
}

section.tracking-metrics-update {
	border: none;
	border-radius: 0;
	margin: 0;
	background: transparent;

	> .card-headertracking-metrics-update-header {
		padding-bottom: 0;

		> .tracking-metrics-label {
			font-size: 1.25rem;
			font-weight: 300;
		}

	}

	.tracking-metric-update {
		border: none;
		margin: 0 0 .75rem;
		padding-bottom: .75rem;

		.card-headertracking-metric-update-header {
			background: lighten($color-lr-light-grey, 25%);
			border-top-left-radius: $border-radius-sm;
			border-top-right-radius: $border-radius-sm;
			padding: 1rem 1.5rem;
		}

		.tracking-metric-label {
			font-size: 1.15rem;
			font-weight: 400;
			margin-bottom: 0;
			line-height: 1;
		}

		.tracking-metric-editor {
			padding: 1rem 1.5rem;
			//flex: 2 0 0;
		}

	}

	.rtb {
		display: block;

		label {
			padding-left: 5px;
		}

	}

}

.range-bound-value-label, .int-measure-current-value-label, .int-measure-last-value-label {
	padding-left: 5px;
}

.click-here-container {
	span { padding: 0 5px; }
}

@media (max-width: 600px) {

	h3.plan-label {
		padding-left: 0 !important;
	}

}


@media (min-width: 1024px) {
	.goal-update {
		display: flex;
		flex-flow: row nowrap;

		.goal-progress.int-measure-value-editor {
			margin: 0 .5rem .5rem 0;
			flex: 1;
		}

	}
	div.prop.goal-progress {
		margin-bottom: 0;
		flex: 1;
		display: flex;
		flex-flow: column wrap;
	}
	section.tracking-metrics-update {
		display: flex;
		flex: 2;
		flex-flow: column nowrap;

		> .card-headertracking-metrics-update-header {
			margin-left: .5rem;
			flex-grow: 1;
			flex-shrink: 0;
		}

		.prop-group.tracking-metrics {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
		}

		.tracking-metric-update {
			flex: 1 0 45%;
			margin: 0 .5rem .75rem;
		}

	}

}

@media (min-width: 1280px) {
	.goal-update {
		.goal-progress.int-measure-value-editor {
			margin: 0 .5rem 0 0;
		}
	}

	section.tracking-metrics-update {
		.tracking-metric-update {
			flex: 1 0 0;
			margin: 0 .5rem;
		}

	}
}