.timeline-item {

	&.rescheduled, &.canceled {
		display: block;
	}

}

.task-item.pending .actions.task-item-actions, .activity-details .prop.activity-program-name,
.task-item-scheduling, .prop.task-type {
	display: block;
}

.task-item {
	&.completed {

		&.confirmationengagementtype,
		&.reminderengagementtype,
		&.emailengagementtype,
		&.assignegengagementtype {
			.task-item-actions a.view {
				display: block;
			}
		}

	}
}

.participant-timeline-configurator {
	.tab-container {
		position: fixed;
		padding-right: 3rem;
		transition: all 1s;
	}

	.tab-content {
		overflow: auto;
		max-height: calc(98vh - 280px);
		transition: all 1s;
	}
}

.participant-timeline-configurator.scrolled {
	.tab-container {
		top: 3rem;
	}
	.tab-content {
		max-height: 86vh;
	}
}
