@import "../config/base-vars";

.plan-name {
	color: $color-lr-grey;
	padding: .75rem 0;
}

.plan-profile {
	color: $color-lr-grey;
	display: flex;
	flex-flow: row wrap;

	section.card {
		margin: 0 1rem 1rem 0;
		display: flex;
		flex-direction: column;
		border-radius: $border-radius-lg;
		overflow: hidden;
		padding-bottom: 2rem;

		&.plan-info {
			display: flex;
			flex-direction: column;
			flex: 1 1 35%;
		}

		&.plan-supporters {
			display: flex;
			flex-direction: column;
			flex: 1 1 50%;
		}

		&.search.search-wrapper {
			flex: 2 1 100%;
		}

		.card-block {
			width: 100%;
		}

		.card-header {
			background: none;
			border-bottom: none;
			padding: 1.25rem;
		}

	}

	h1.card-title {
		border-bottom: 1px solid $color-lighter-grey;
		padding-top: 0 !important;
		margin: 0;
		width: 100%;
		font-size: 2rem;
	}

	.prop {

		> label {
			font-weight: 500;
			margin-bottom: 0;
		}

	}

	img {
		max-width: 100%;
		height: auto;
	}

	.plan-info-content, .supporters-content, .plan-supporters .actions {
		padding: 0 2rem;
	}

}

.plan-info-header, .plan-supporters-header {
	font-weight: 500;
	color: $color-lr-grey;
	margin-bottom: 2rem;
	display: block;
	padding: 1rem 1.5rem;
	background: lighten($color-lr-light-grey, 25%);
}

.user-details {
	display: flex;
	flex: 1 auto;
	padding-bottom: 1rem;
	align-items: center;

	.user-details-pic {
		max-width: 50%;

		img {
			border-radius: 100%;
		}

	}

	.user-details-text {

		.prop {
			padding-left: 2rem;
			line-height: 1.25rem;

			+ .prop {
				margin-top: .75rem;
			}

		}

	}

}

.positions, .preferences {
	margin-top: 1rem;
	width: 100%;

	h2 {
		font-size: 1.25rem;
	}

}

.user-positions.plan-positions {
	margin-top: -2rem;

	.miwt-table {
		border: none;

		> thead > tr > th {
			background: lighten($color-lr-light-grey, 25%);
			font-family: $font-arial;
		}

		> thead > tr > td {
			padding: 10px 8px;
		}

	}
	.actions.entity-actions {
		margin-top: -2rem;
	}

}

.supporters-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	.supporter {
		display: flex;
		align-items: center;
		text-align: left;
		margin-bottom: 2rem;
		flex: 1;
		padding-right: 1rem;

		.supporter-image {
			flex-grow: 1;
			flex-shrink: 1;
			width: 100%;
			max-width: 8.5rem;

			img {
				overflow: hidden;
				border-radius: 100%;
			}
		}

		.supporter-text {
			flex-grow: 1;
			flex-shrink: 2;
			line-height: 1.25rem;
			padding-left: 1rem;
			min-width: 1px;

			.supporter-type {
				font-weight: 500;
				margin-bottom: .15rem;
			}

			.supporter-name, .supporter-email {
				font-size: .9rem;
			}

			.supporter-email {
				color: $color-lr-light-blue;
				overflow-wrap: break-word;
				word-wrap: break-word;
				-ms-word-break: break-all;
				word-break: break-word;
			}

		}

	}
}

@media (max-width: 768px) {
	.plan-profile {
		flex-flow: column nowrap;

		section.card {
			flex: 1 !important;
		}

	}
}

@media (min-width: 1280px) {
	.plan-profile {
		flex-flow: row wrap;

		section.card {

			&.plan-info {
				flex: 1 1 25%;
			}

			&.plan-supporters {
				flex: 1 1 50%;
			}
		}
	}

	.supporters-content {
		flex-flow: row wrap;

		.supporter {
			max-width: 48%;
		}

	}

}