@import "../config/base-vars";
@import "../../../../bower_components/bootstrap/scss/variables";
@import "../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../bower_components/bootstrap/scss/buttons";

.login-body {
	background-color: #f1f2f7;
}

.action-login {
	@extend .btn-block;
	@extend .btn-lg;
	@extend .btn-login;
}

.form-signin .title {
	margin: 0;
	padding:20px 15px;
	text-align: center;
	background: $header-bg;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	line-height: $headings-line-height;
	font-weight: $headings-font-weight;
	font-family: $headings-font-family;
}

.form-signin .checkbox {
	margin-bottom: 14px;
}
.form-signin .checkbox {
	font-family: $font-family-sans-serif;
	color: #b6b6b6;
	font-weight: 300;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #eaeaea;
	box-shadow: none;
	font-size: 12px;
	padding:2px 4px;
}

.form-signin .action-login,
.form-signin button.submit {
	background: $btn-primary-bg;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	box-shadow: 0 4px darken($btn-primary-border, 12%);
	margin-bottom: 20px;
}

.form-signin p {
	text-align: center;
	margin: 0;
}

.form-signin a {
	color: #41cac0;
}

.form-signin a:hover {
	color: #b6b6b6;
}

.login-wrap {
	padding: 20px;
}

.login-social-link  {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 15px;
}

.login-social-link a {
	color: #fff;
	padding: 15px 28px;
	border-radius: 4px;
}

.login-social-link a:hover {
	color: #fff;
}

.login-social-link a i {
	font-size: 20px;
	padding-right: 10px;
}

.login-social-link a.facebook {
	background: #5193ea;
	margin-right: 22px;
	box-shadow: 0 4px #2775e2;
	float:left;
}

.login-social-link a.twitter {
	background: #44ccfe;
	box-shadow: 0 4px #2bb4e8;
	float:left;
}




#authentication {
	background-color: #f1f2f7;
}
.form-signin, .form-signout {
	max-width: 375px;
	margin: 100px auto 0;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-signin .message-container{
	margin-top: 10px;
}
.form-signin .fields{
	text-align: center;
	padding:20px;
}
.form-signin .message-container,
.form-signin .actions {
	padding-left:20px;
	padding-right:20px;
}
.form-signin .retrieve-password {
	padding: 10px 0;
}
.form-reset #retrieve-password {
	text-align: center;
}
header#main-header {
	display: none;
}