
.user-role-search .search-results > thead {
	display: none;
}

.user-viewer {
	position: relative;

	.nav-actions {
		position: absolute;
		right: 0;
		top: 68px;
		margin-bottom: 0;
	}

}
.user-viewer {
	position: relative;

	.nav-actions {
		position: absolute;
		right: 0;
		top: 68px;
		margin-bottom: 0;
	}

}