@import "../components/tasks";
@import "../components/schedule";
@import "../components/time";
@import "../components/timeline";

.flex-container {
	display: flex;

	> .timeline-ui,
	> .tasks {
		flex: 2;
	}
	> .toolbox {
		padding: 0;
		flex: 1;
		margin: 1rem;
		.trigger {
			width: 100%;
			border: 1px solid $color-lr-light-grey;
			margin-top: 1rem;
			position:relative;
			&:after {
				display: inline-block;
				font: normal normal normal 20px/1 FontAwesome;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f147';
				position:absolute;
				top: 8px;
				right:6px;
			}
		}
		.hidden .trigger:after {
			content: '\f196';
		}
		input.selector {
			visibility: hidden;
			height: 0;
			width: 0;
			font-size: 0;
			position: absolute;
		}
		.element {
			border: 1px dotted $color-lr-light-grey;
			padding:.5rem;
			margin: 0.5rem 0 0 .5rem;
		}
		.desc {
			font-weight: 300;
			font-size: .75rem;
			overflow: hidden;
			max-height: 2rem;
			text-overflow: ellipsis;
		}

	}
	> .tasks {
		margin-left: 20px;
	}
}
/*.confirm-task-history-container { HIDING THE HEADER TITLE FOR NOW
	.prop-header-title{
		font-size:inherit;
		> h1 {
			font-size: 1.75rem;
		}
	}
}*/
.activity-configurer-dialog {
	top: 5px !important;
	bottom: 5px !important;
	left: 10px !important;
	right: 10px !important;
	position:fixed!important;
	width:auto !important;
	.titlebar_row td {
		/*border-bottom-width: 3px !important;
		border-bottom-color: $color-lr-light-grey !important;*/
	}
	.windowcontent {
		padding-top:0!important;
		padding-bottom: 0 !important;
	}
	.activity-configurer {
		height: calc(100vh - 80px - 5rem); // title-bar:70px + top:5px + bottom:5px + persistence-actions:5rem
		display:flex;
		.toc {
			flex: 1 0 15rem;
			padding-top:1rem;
			padding-right: 1rem;
			border-right: 1px solid $color-lr-light-grey;
		}
		.activities-wrapper {
			flex:40 0;
			overflow: auto;
		}
	}
	.persistence-actions{
		margin-top:1rem;
		text-align: center;
	}
}

.engagement-viewer {

	.prop, .prop-group {

		h1 {
			font-size: 1.5rem;
		}

	}

	.prop-body {
		width: 75%;
	}

}

.confirm-task-history-container {

	.task-assignment { /* This may get less specific */

		.entity-actions {
			margin-bottom: .75rem;
			padding-right: 0;
		}

		caption {
			margin-top: -3.85rem;
			font-size: 1.5rem;
			font-weight: 500;
			color: $color-lr-grey;
		}

	}

}

.miwt-table {
	border: none;

	.column-label {
		font-family: $font-family-sans-serif;
	}

	> thead > tr > th {
		background-color: lighten($color-lr-light-grey, 25%);
	}

}

.prop-editor .prop .actions {
	padding-left: 0;
}

.actions {

	.btn {

		&.delete {
			background: $color-white;
			color: $color-lr-red;
			border-color: $color-lr-red;
		}

	}
}

.prop-wrapper {

	.prop {
		margin-bottom: .5rem;
	}

	.prop-header-title {
		margin: 0 0 1em;
		display: none; /* Hide, for now at least */
	}

	.recipients-wrapper {
		margin-top: 1.125rem;

		> label {
			margin-right: 10px;
		}
	}

}
