.my-account-view {

	.prop > label {
		margin-bottom: 0.125rem;
	}

}

.back-home-container {
	padding-top: 1rem;

	.btn {
		float: right;

		i {
			padding-right: 3px;
		}

	}

}
.back-home-container {
	padding-top: 1rem;

	.btn {
		float: right;

		i {
			padding-right: 3px;
		}

	}

}