@import "../components/plan-switcher";
@import "../components/goal_tabs";
@import "../components/strength-meter";
@import "../../../../bower_components/bootstrap/scss/mixins/clearfix";

h2.plan-name {
	border-bottom: none;
}

.goal-viewer-wrapper {
	display: flex;
	flex-flow: column nowrap;
}
.goal-viewer {
	flex: 2 1 70%;
	padding:1rem;
	color: $color-lr-grey;
	position: relative;

	h1 {
		font-size: 1.75rem;
		font-weight: 300;
		margin-bottom: 1.35rem;
		padding: 0 7.5rem 0 0 !important;

		.goal-type {
			font-weight: 400;
			padding-right: .25rem;
			&:after {
				content: ": ";
			}
		}
	}

	.actions.goal-actions {
		position: absolute;
		right: 1rem;
		top: 1.45rem;
	}

}
.alignment {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 30%;
	border-top: 1px solid #ddd;
	border-left: none;
	margin: 1rem 0 1rem 1rem;
	text-align: center;
	padding-top: 2.5rem;

	.alignment-header {
		margin-bottom: 1.25rem;
		font-weight: 300;
		font-size: 1.75rem;
		color: $color-lr-grey;
	}

	.card {
		background: lighten($color-lr-light-grey, 15%);
		color: $color-white;
		margin: 1.5rem auto 0;
		width: 75%;
		border: 1px solid darken($color-lr-light-grey, 5%);
		box-shadow: inset 0 0 3px lighten($color-lr-light-grey, 30%);
		font-size: 1.75rem;
		font-weight: 400;
		line-height: 2.5rem;

		.card-block {
			padding: 3rem 2rem;
			min-height: 17rem;
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: center;
		}

		+ .card {
			margin-top: 2rem;
		}

		&.primary {
			background: $color-lr-light-grey;
			border: 1px solid darken($color-lr-light-grey, 5%);
			box-shadow: 0 0 19px rgba(42, 53, 66, 0.7);
		}

	}

	.personal-alignment-graph {
		position: relative;
	}

	.info.message {
		font-size: 1rem;
	}

}

.goal-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	padding: 1rem;
	flex: 1;

	.goal-info-wrapper, .goal-measurement {
		display: flex;
	}

	.goal-info-wrapper {
		flex: 1;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 85%;
	}

	> .goal-measurement{
		text-align: center;
		flex-direction: column;
		flex: 2;

		.goal-measurement {
			align-self: center;
			width: 100%;
		}

	}

	.description, .start-date, .end-date, .goal-ev {

		label {
			display: block;
			font-weight: 400;
			padding-right: 1ch;
			margin-bottom: 0;
			&:after {
				content: ": ";
			}
		}

		div.val {
			display: inline-block;
		}

	}

	.goal-ev {
		flex: 2 0 100%;
		width: 100%;
		padding-bottom: 1.5rem;
	}

	.description {
		flex: 2 1 100%;
		order: 3;
		width: 100%;
		padding: 1.5rem 3rem 1.5rem 0;
	}

	.start-date, .end-date {
		flex: 1;
		width: 35%;
		//font-size: 85%;
	}

	.goal-measurement-actions {
		margin:0;
	}
	.measure-config-graph {
		margin: 0 auto;
		position: relative;
	}
	.config-graph {
		//position: relative;
		margin: 0 auto;
	}
	.config-graph-text {
		position: absolute;
		top:calc(50% - 40px);
		bottom:0;
		left:0;
		right:0;
		font-size: 3rem;
		font-weight: 400;
		color: $brand-primary;
	}
	.prop-group.smart-gauge {
		display: flex;
		flex: 1;
		justify-content: flex-start;
		padding-bottom: 3rem;
		order: 4;
	}

	//CAROUSEL
	.carousel-indicators {
		display: none;
	}

	.carousel-control {

		&.right, &.left {
			background-image: none;
			text-shadow: none;
		}

		.icon-next, .icon-prev {
			color: $color-lr-grey;
			font-size: 4rem;
			margin-top: -4rem;
			height: 4rem;
		}

	}

	.carousel-inner {

		.config-graph {
			canvas {
				max-width: 100%;
				max-height: 100%;
			}
		}

		.carousel-caption {
			position: relative;
			bottom: auto;
			left: auto;
			right: auto;
			color: $color-lr-light-grey;
			text-shadow: none;
			padding: 1rem 0;

			p {
				font-size: 1.25rem;
				font-weight: 500;
				margin-bottom: 0;
			}

		}

	}

}

.chart-legend {
	//float:left;
	min-width: 8rem;

	.legend-header {
		color:$color-lr-grey;
		font-weight: 300;
		margin-bottom: .25rem;
		font-size: 1rem;
	}

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		&:not(.radar-legend) {
			text-align: left;
		}

	}

	li {
		padding: 0;
		margin: 0 0 .25rem;
		font-size: .75rem;
		span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 5px;
			border-radius: 100%;

			&.legend-label {
				width: auto;
			}

			&.aligned {
				font-weight: 500;
				font-size: 1.25rem;
				color: $color-lr-grey;
			}

		}
	}
}

section.tracking-metrics {
	border-top: 1px solid #ddd;
	margin: 2.85rem 1.5rem 1.5rem;
	padding-top: 1.75rem;

	h1, h2 {
		text-align: left;
	}

	h1 {
		margin-bottom: 0;
		display: inline-block;
		padding-right: 0 !important;
	}
	h2 {
		font-size: .9rem;
		font-style: italic;
		color: $color-lr-light-grey;
		padding-left: 0 !important;
	}
	div.tracking-metrics {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.tracking-metric {
			margin:2rem 1rem;
			display: flex;
			flex-direction: column;
			width: 45%;

			h1 {
				font-weight: 500;
				text-align: center;
				font-size: 1rem;
				color: $color-lr-grey;
			}
			.measure-config-graph{
				margin-top:2rem;
				min-height: 13.25rem;
				flex: 1 0 auto;
				position: relative;
			}
			.boolean-measure .config-graph,
			.word-measure .config-graph {
				display: flex;
				.chart-legend{
					margin-left:.5rem;
				}
			}
			.config-graph {
				text-align: center;
				margin: 0 auto;
			}

			[data-chart-type="pie"] {
				max-width: 250px;
				margin: 0 auto;

				canvas {
					margin-left: -3rem;
				}

				.chart-legend .legend-header {
					text-align: left;
				}

			}

		}

	}

}

.measure-info {
	text-align: center;
	font-size: $font-size-sm;
	color: $color-lr-light-grey;

	label {
		font-weight: 500;
		font-size: $font-size-sm;
		color: $color-lr-light-grey;
		&::after {
			content: ':';
			padding-right: 5px;
		}
	}

	.metric-last-updated {

		.val {
			color: $color-lr-red;
			font-style: italic;

			&::after {
				content: '\f12a';
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				padding-left: 5px;
			}

			&.interval-update-received {
				color: $color-lr-light-grey;
				span.label {
					color: $color-lr-light-grey;
				}
				&::after {
					content: '\f087';
				}

			}

		}

	}

}

.goal-measurement-actions, .tracking-metric-actions {
	.btn {
		@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
	}
}

.tracking-metric-actions,
.metric-last-updated {
	text-align: center;
	margin-top: .75rem;
}

.update-tracking-measure-dialog,
.update-goal-measure-dialog{
	width:50rem !important;
	.prop-header{
		display: none;
	}
	.prop-body{

	}

}

.personal-alignment, .leadership-alignment {

	.chart-legend {
		padding-top: 1rem;
		float: none;
		margin: 0 auto;
		width: auto;
		max-width: 14.5rem;
		span:not(.legend-label) {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 5px;
			border-radius: 100%;
		}
		span{
			&.legend-label {
				display: inline;
				width: auto;
				border-radius: 0;
			}

			&.aligned {
				font-weight: 500;
				font-size: 1.25rem;
				color: $color-lr-grey;
			}
		}
	}

}


/* ----- UPDATE GOALS DIALOG */
.int-measure-value-editor {

	.value-indicator {

		> div {
			display: inline-block;
			vertical-align: middle;
			margin-right: 1.5rem;
		}

	}

	label, .int-measure-current-value label {
		font-weight: 400;
		display: inline-block;

		&::after {
			content: ': ';
			padding-right: 5px;
		}

	}

	.range-bound-value-label, .int-measure-current-value-label, .int-measure-last-value-label {
		padding-left: 5px;
	}

	.prop { padding: 0; }

	.int-measure-slider {
		margin-top: 1rem;

		> span {
			display: inline-block;
			vertical-align: top;

			&.slider-editor {
				margin-bottom: 0;
				padding: 0 10px;

				input {
					border: none;
				}

			}

		}

	}

}

div.window.dialog {

	.goal-repo-item-editor {
		.prop-header-actions {
			display: none;
		}
		.prop-body .predicted-ev-editor {
			margin-top: 1rem;
		}
	}

	.boolean-measure-editor {
		.val > span {
			display: block;

			+ span {
				padding-left: 0;
			}

			label {
				display: inline;
				padding-left: 5px;
			}
		}
	}
}


/* ----- MEDIA QUERIES */

@media (max-width: 1099px) {
	.goals-viewer,
	.goal-management {
		.tab-container {
			.tab-items .ti {
				a {
					font-size: 1rem;
				}
			}
		}
	}
	.goal-viewer {
		flex: 2;
	}
	.alignment {
		flex: 1;
		margin: 1rem;
	}
	.goal-wrapper {
		.goal-info-wrapper {
			flex: 1;
			flex-direction: column;
		}
		.description {
			flex: 1;
		}
		.goal-ev {
			flex: 2;
		}
		.start-date, .end-date {
			width: 75%;
		}
	}
}

@media (min-width: 1100px) {
	.alignment {
		flex-direction: column;
		border-left: 1px solid #ddd;
		border-top: none;
		padding-top: .35rem;
	}
	.goal-wrapper, .goal-viewer-wrapper {
		flex-direction: row;
	}

	.goal-wrapper {
		.goal-ev {
			flex: 2 0 100%;
		}
	}

}

@media (max-width: 1499px) {

	.goal-wrapper {
		> .goal-measurement .goal-measurement {
			width: 100%;
		}
	}

}

@media (min-width: 1500px) {

	.goal-wrapper {
		//max-height: 39rem;

		.goal-measurement {
			justify-content: center;

			.goal-measurement { width: 100%; }

		}

	}

}

@media (max-width: 767px)
and (orientation:portrait) {
	#main-content-wc-0 {
		padding: .5rem;
	}

	.goal-viewer {

		h1 {
			padding: 0 3rem 0 0 !important;
			font-size: 1.5rem;
		}

		.btn.edit {
			color: transparent !important;
			width: 40px;
			padding: 5px 12px;
			overflow: hidden;
			white-space: nowrap;

			&::before {
				content: '\f040';
				font-family: FontAwesome;
				padding-right: 3px;
				color: $color-lr-brand;
			}

			&:hover, &:focus {
				color: transparent !important;
			}

		}

	}

	.goal-wrapper {
		flex-flow: column nowrap;
		padding: 0;

		.goal-info-wrapper {
			flex: 1;
			flex-flow: row wrap;
			order: 2;
		}
		.description, .goal-ev {
			flex: 2 0 100%;
		}
		.start-date, .end-date, .prop-group.smart-gauge {
			flex: 1 0 auto;
			width: auto;
		}
		.prop-group.goal-measurement {
			padding-bottom: 3rem;
			order: 1;

			.measure-config-graph .config-graph {
				width: 250px !important;
				height: 166px !important;
			}

		}

		.carousel-control {
			.icon-prev {
				left: 0;
				margin-left: 0;
			}
			.icon-next {
				right: 0;
				margin-right: 0;
			}
		}

	}

	section.tracking-metrics {
		margin: 2.85rem 0 1.5rem;

		div.tracking-metrics {
			.tracking-metric {
				width: 100%;
				margin: 1rem 0;

				[data-chart-type="pie"] canvas {
					margin-left: 0;
				}

			}
		}

	}

	.goal-measurement, section.tracking-metrics {
		.config-graph {
			width: 250px !important;
		}
	}

	.alignment {
		.personal-alignment-graph, .leadership-alignment-graph {
			width: 300px !important;
			.chart-legend {
				position: relative;
				left: auto;
				top: auto;
			}
		}
	}

	.chart-legend {
		float: none;
		position: absolute;
		left: -30px;
		top: -15px;
		text-align: left;
	}

	.update-tracking-measure-dialog,
	.update-goal-measure-dialog {
		width: auto !important;
	}

	.back-top {
		bottom: auto;
		margin-top: .75rem;
		right: .5rem;
	}

}