.fa.fa-bars, #side-nav {
	display: none !important;
}

table.search-results {
	border: none;

	tbody {
		display: flex;
		flex-flow: column nowrap;

		&.miwt-clear-row-selection,
		&.miwt-select-all-rows {
			display: none;
		}

		> tr {
			display: flex;
			flex-grow: 1;
			flex-shrink: 0;

			> td {
				display: flex;
				flex-grow: 1;
				flex-shrink: 1;
				background: transparent !important;
			}

		}

	}

}

section.card {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-flow: column nowrap;

	.participant, .plan-info {
		display: flex;
		flex-direction: column;
	}

	.participant {
		flex: 1;
		align-items: center;
		padding-bottom: 0;

		img {
			max-width: 100%;
			border-radius: 100%;
			overflow: hidden;
			width: 90px;
			height: 90px;
		}

		h1 {
			font-size: 1.25rem;
			width: 100%;
			padding-left: 0 !important;
		}

	}

	.plan-info {
		flex: 2;
		text-align: left;
		padding-top: 0;

		a.plan-link{
			font-size:1.75rem;
			line-height: 1.25;
			display: block;
			margin-bottom: 1rem;
		}

		label {
			font-weight: 400;
			margin-bottom: .25rem;

			&:after {
				content: ":";
				padding-right: 1ch;
				padding-bottom: 1rem;
			}

		}

		.prop {
			line-height: 1;
		}

	}

}
.card-title{
	text-align: center;
}
.search-results thead{
	display: none;
}

@media (min-width: 768px) {
	table.search-results {

		tbody {
			flex-flow: row wrap;

			> tr {
				display: flex;
				flex: 1 0 50%;
				max-width: 50%;
			}
		}
	}

	section.card {
		flex-flow: row wrap;

		.participant {
			max-width: 150px;
			padding-bottom: 1.25rem;
		}

		.plan-info {
			max-width: 330px;
			padding-top: 1.25rem;
		}
	}
}

@media (min-width: 1281px) {
	table.search-results {

		tbody {
			flex-flow: row wrap;

			> tr {
				display: flex;
				flex: 1 0 33%;
				max-width: 33%;
			}
		}
	}
}

@media (min-width: 1500px) {
	table.search-results {

		tbody {
			flex-flow: row wrap;

			> tr {
				display: flex;
				flex: 1 0 25%;
				max-width: 25%;
			}
		}
	}
}