@import "../components/goal_tabs";
@import "../components/strength-meter";
@import "../../../../bower_components/bootstrap/scss/mixins/clearfix";

.goal-viewer-wrapper {
	display: flex;
}
.goal-viewer {
	flex:1 0;
	padding:1rem;
	h1 {
		font-size: 1.75rem;
		.goal-type {
			color: $brand-primary;
			padding-right: 1ch;
			&:after {
				content: ": ";
			}
		}
	}
}
.alignment {
	flex-basis: 25%;
	min-width: 500px;
	border-left: 1px solid #ddd;
	margin:1rem;
	text-align: center;
}

.goal-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.prop.description {
		flex-basis: 100%;
		label {
			font-weight: bold;
			padding-right: 1ch;
			&:after {
				content: ": ";
			}
		}
		div.val {
			display: inline;
		}
	}
	.start-date{
		display: none; /* FIXME : find a place to display this in the UI. */
	}
	.end-date{
		display: none; /* FIXME : find a place to display this in the UI. */
	}
	.goal-measurement{
		flex:0;
		text-align: center;
	}
	.goal-measurement-actions {
		margin:1rem;
	}
	.measure-config-graph {
		width: 200px;
	}
	.config-graph {
		position: relative;
	}
	.config-graph-text {
		position: absolute;
		top:calc(50% - 40px);
		bottom:0;
		left:0;
		right:0;
		font-size: 46px;
		color: $brand-primary;
	}
}

.chart-legend {
	float:left;
	.legend-header {
		color:$color-lr-light-grey;
		font-weight: bold;
		margin-bottom: .25rem;
		font-size: .9rem;
	}
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
	li {
		padding: 0;
		margin: 0;
		font-size: .75rem;
		span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 5px;
			border-radius: 100%;
		}
	}
}

section.tracking-metrics {
	border-top: 1px solid #ddd;
	margin: 1rem;
	padding-top:1rem;
	h1 {
		text-align: center;
		color: $brand-primary;
	}
	h2 {
		text-align: center;
		font-size: .9rem;
		font-style: italic;
		color: $color-lr-light-grey;
	}
	div.tracking-metrics {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.tracking-metric {
			margin:2rem;
			display: flex;
			flex-direction: column;

			h1 {
				font-weight: bold;
				text-align: center;
				font-size: 1rem;
				color: $color-lr-grey;
			}
			.measure-config-graph{
				margin-top:2rem;
				min-height: 13.25rem;
				flex: 1 0 auto;
			}
			.boolean-measure .config-graph,
			.word-measure .config-graph {
				display: flex;
				.chart-legend{
					margin-left:.5rem;
				}
			}
			.int-measure .config-graph{
				text-align: center;
			}
			.metric-last-updated {
				font-size: $font-size-sm;
				font-style: italic;
				color: $color-lr-red;
				&::before {
					content: '\f12a';
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					padding-right: 5px;
				}

				&.interval-update-received {
					color: $color-lr-light-grey;
					&::before {
						content: '\f087';
					}
				}

			}
		}
	}

}
.tracking-metric-actions,
.metric-last-updated{
	text-align: center;
	margin-top: .75rem;
}

.update-tracking-measure-dialog,
.update-goal-measure-dialog{
	width:50rem !important;
	.prop-header{
		display: none;
	}
	.prop-body{

	}

}