.timeline-item {

	&.rescheduled, &.canceled {
		display: block;
	}

}

.task-item.pending .actions.task-item-actions, .activity-details .prop.activity-program-name,
.task-item-scheduling, .prop.task-type {
	display: block;
}

.task-item {
	&.completed {

		&.confirmationengagementtype,
		&.reminderengagementtype,
		&.emailengagementtype,
		&.assignegengagementtype {
			.task-item-actions a.view {
				display: block;
			}
		}

	}
}