@import "../components/tasks";
@import "../components/schedule";
@import "../components/time";
@import "../components/timeline";
@import "../components/action-items";
@import "../../../../bower_components/bootstrap/scss/buttons";

.flex-container {
	display: flex;

	.no-config-message {
		display: none;
	}

	.view-action-items {
		display: none;
	}

	> .timeline-ui,
	> .tasks {
		flex: 1;
		margin-top: 1.5rem;
		color: $color-lr-grey;
	}
	> .toolbox {
		padding: 0;
		margin: 1rem;
		.trigger {
			width: 100%;
			border: 1px solid $color-lr-light-grey;
			margin-top: 1rem;
			position:relative;
			&:after {
				display: inline-block;
				font: normal normal normal 20px/1 FontAwesome;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f147';
				position:absolute;
				top: 8px;
				right:6px;
			}
		}
		.hidden .trigger:after {
			content: '\f196';
		}
		input.selector {
			visibility: hidden;
			height: 0;
			width: 0;
			font-size: 0;
			position: absolute;
		}
		.element {
			border: 1px dotted $color-lr-light-grey;
			padding:.5rem;
			margin: 0.5rem 0 0 .5rem;
		}
		.desc {
			font-weight: 300;
			font-size: .75rem;
			overflow: hidden;
			max-height: 2rem;
			text-overflow: ellipsis;
		}

		&.timeline-ui {
			flex: 1 1 30%;
		}

	}
	> .tasks {
		//background: lighten($body-bg, 5%);
		//margin-left: 20px;
		padding-left: 2rem;
		border-left: 1px solid #fff;

		h1 {
			font-size: 1.75rem;
		}
		h2 {
			font-size: 1rem;
			font-style: italic;
		}

	}

}
.activity-configurer-dialog {
	top: 5px !important;
	bottom: 5px !important;
	left: 10px !important;
	right: 10px !important;
	position:fixed!important;
	width:auto !important;

	.windowcontent {
		padding: 0 !important;
		height: 100vh;
		overflow: hidden;
	}
	.activity-configurer {
		height: calc(100vh - 80px - 1.5rem); // title-bar:70px + top:5px + bottom:5px + persistence-actions:5rem
		display: block;
		overflow: auto;

		> tbody, > tbody > tr, td.miwt-procedure-card-con {
			display: block;
			width: 100%;
		}

		> tbody {

			> tr:first-child { display: none; }

			> tr:nth-child(2) {
				> td:first-child { display: none; }
			}

		}

		.prop.start-time, .prop.meeting-group {
			padding: 2rem 2rem 0;

			label {
				display: block;
				font-weight: 400;
			}

			input[type="text"] {
				border: 1px solid #B7B7B5;
				border-radius: $border-radius-sm;
				padding: 2px 5px;
			}

			.group-name {
				font-style: italic;
				margin-bottom: 1rem;
			}

		}

		.miwt-calendar {
			display: block;
			margin-bottom: 1rem;
		}

		.procedure-navigation-bottom-con {
			float: right;
			padding: 1.5rem 1.5rem 1.5rem 0;
		}

		.procedure-navigation {

			td.disabled-con {
				display: none;
			}

			.btn {
				margin-right: .75rem;
				font-weight: 300;
				text-transform: uppercase;
			}

		}

		.miwt-procedure-card {

			> section {
				display: block;
				overflow: hidden;
				height: calc(100vh - 170px);
			}

		}

		.toc, .activities-wrapper {
			display: inline-block;
			vertical-align: top;
		}

		section.toc {
			padding: 0 2rem;
			margin-top: 2rem;
			border-right: 1px solid $color-lr-light-grey;
			//height: calc(100vh - 80px);
			height: auto;
			width: 30%;
			position: fixed;
			//left: 5px;
			top: 80px;

			> h1 {
				font-size: 1.5rem;
				margin: 0 0 5px;
				display: none;
			}

			h2.engagement-heading {
				font-size: 90% !important;
				font-weight: 300 !important;
				padding-left: 1.5rem !important;
			}

			.task-label {
				padding: .25rem .5rem;

				a {
					color: $color-lr-light-blue;

					&:hover {
						color: darken($color-lr-light-blue, 10%);
					}

				}

				&.active {
					background: $color-lr-light-blue;
					color: #fff;

					a {
						color: #fff;
					}

				}
			}

		}

		.toc-entry {

			&.engagement {
				padding-left: 1.5rem;

				span.task-label {
					font-size: 90%;
					line-height: 1.25;
					padding-top: 4px;
				}

			}

			+ .toc-entry {
				margin-top: .35rem;
			}

			span {
				display: inline-block;
				vertical-align: top;

				&:first-child {
					width: 22px;
				}
				&:last-child {
					width: 86%;
				}
			}

			&.activity {
				font-size: 1.25rem;

				i.fa {
					padding-top: 9px;
				}

			}

		}

		.activities-wrapper {
			width: 70%;
			padding: 1.25rem 2rem 1rem 3.5rem;
			margin-left: 30%;

			.engagement-editor {
				margin-top: 3.5rem;
			}

		}

		.engagement-header {
			background: $color-lr-grey;
			color: #fff;
			font-size: 1.25rem;
			font-weight: 400;
			margin: 1.25rem 0 .75rem -2rem;
			display: block;
			padding: .5rem .75rem;

			.engagement-type::after {
				content: ": ";
			}
		}

		.miwt-table {
			margin-top: 1.5rem;
		}

		caption {
			color: $color-lr-grey;
		}

		.entity-actions.actions {
			margin-bottom: 0;
			padding-right: 0;
		}

		.message-container-con {
			position: absolute;
			left: 45%;
		}

		.user-entry-required {
			input[value=""], tr.no_data {
				border: 2px solid $color-lr-yellow;
				background: lighten($color-lr-yellow, 35%);
			}
			tr.no_data > td {
				background: lighten($color-lr-yellow, 35%);
			}
		}

		.resource-selector-label {
			//font-weight: 400;
			//margin-bottom: -2.5rem;

			+ .actions {
				float: right;
			}

		}

		.actions:not(.entity-actions) {
			padding-right: 0;
			margin-bottom: .25rem;

			.btn.add {
				@include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
				text-transform: none;

			}

		}

	}
	.persistence-actions{
		margin-top:1rem;
		text-align: center;
	}

	.prop-editor {
		.prop {
			input[type=text],
			input[type=email],
			input[type=url],
			input[type=tel],
			textarea {
				min-width: auto;
				width: 65%;
			}
		}
	}

}

.engagement-viewer {

	.prop, .prop-group {

		h1 {
			font-size: 1.5rem;
		}

	}

	/*.prop-body {
		width: 75%;
	}*/

	.btn.engagement-completed {
		@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	}

}

.miwt-table {
	border: none;

	.column-label {
		font-family: $font-family-sans-serif;
	}

	> thead > tr > th {
		background-color: lighten($color-lr-light-grey, 25%);
	}

}

.prop-editor .prop .actions {
	padding-left: 0;
}

.prop-wrapper {

	.prop {
		margin-bottom: .5rem;
		padding: 4px 0 3px;
	}

	.prop-header-title {
		margin: 0 0 1em;
		display: none; /* Hide, for now at least */
	}

	.recipients-wrapper {
		margin-top: 1.125rem;

		> label {
			margin-right: 10px;
		}
	}

	.prop.email-preview, .prop-group.variables {
		h1 {
			font-size: 1.25rem;
		}
	}

}

.reminder-engagement {
	.btn.close {
		display: none;
	}
}

div.window.configure-task  {

	.activity-template-value-editor, .prop-header {

		.prop-header-actions { display: none; }

	}

}

@media (max-width: 768px)
and (orientation: portrait) {
	div.window.dialog {
		left: 0 !important;
		width: 100% !important;
	}
}

@media (max-width: 768px) {

	.flex-container {
		flex-direction: column;
		position: relative;

		.no-config-message {
			display: block;
			font-size: 90%;
			margin-top: 1.5rem;
			text-align: center;

			p {
				margin-bottom: 0;
				color: $color-lr-red;
			}

		}

		.view-action-items, .view-timeline {
			display: block;
			margin: 1.5rem 0 0;
			text-align: center;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 9;

			button {
				display: inline-block;
				@include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-primary-border);
				padding: 0.5rem .5rem .35rem;
				background: #fff;
				border: 1px solid $color-lr-brand;
				border-radius: 100%;
				line-height: 1;
			}
		}

		.view-timeline {
			button {
				padding: 0.5rem 0.75rem;
			}
		}

		.timeline-ui {
			padding-right: 0;
			border-right: none;
			margin-top: 1rem;

			&.toolbox {
				display: none;
			}
		}

		> .tasks {
			display: none;
		}

	}

	.participant-timeline {
		padding-right: 0;

		> .card-block {
			padding-left: 0;
		}

	}

}

@media (min-width: 1024px) {
	.flex-container {
		> .tasks {
			display: block;
		}
	}
}

@media (min-width: 1300px) {

	.flex-container {
		display: flex;

		> .timeline-ui {
			flex: 1 1 60%;
		}

		> .tasks {
			flex: 1 1 45%;
		}

	}

	.activity-configurer-dialog {
		left: 15rem !important;
		right: 15rem !important;

		.activity-configurer {
			section.toc {
				width: 20%;
			}

			/*.activities-wrapper {
				width: 71%;
				margin-left: 29%;
			}*/
		}
	}

}

@media (max-width: 1280px) {
	.flex-container {

		> .timeline-ui {
			flex: 2;
		}

		> .toolbox.timeline-ui {
			flex: 1;
		}

	}

}
