@import "../components/miwt-procedure";
@import "../mixins/miwt-switch";

.edm-confirmation .ctb.label-before {
	width: 34rem;
	@include checkboxSwitchAbsolute;
}

.profile-roles {
	&.has-error {
		.actions.bottom {
			text-align: right;
		}
	}
	.actions.bottom {
		text-align: center;
		margin-bottom: 2rem;
	}
	.entity-actions {
		margin-top: 0rem;
		margin-bottom: 1rem;
		margin-right: -1.45rem;
	}
}

.add-participant-plan {
	.email {
		input { width: 80% !important; }
	}
}

.membership-operation-search .search-bar {
	display: none;
}

.miwt-procedure-card {
	h1 {
		margin-bottom: .75rem;
	}
}