@import "../components/schedule";
@import "../components/time";

.meeting-group-group-meeting-mgt {
	display: flex;
	.group-meeting-selector {
		flex:1;
		max-width: 15rem;
		margin-right:1rem;
		.search-results {
			border:none;
			thead {
				display: none;
			}
			tbody tr td {
				text-align: center;
				background: inherit;
			}
		}
	}
	.group-meeting-viewer {
		flex:1;
	}
}
.dialog {
	.top.actions{
		display:none;
	}
}
textarea.note-content {
	resize: both;
}
.note-editor-dialog{
	width:45rem !important;
	.prop-editor{
		text-align: center;
	}
}
.reschedule-group-meeting{
	width:35rem!important;
}