
@mixin style-message($color-bg, $color-border, $color-text, $html-entity-icon: '') {
  position: relative;
  background-color: $color-bg;
  border: 1px solid $color-border;
  color: $color-text;
  padding: 7px;
  padding-left: 30px;
  display: block;
  font-family: $font-arial;

  @if ($html-entity-icon != '') {
    &:before {
      @include glyphAdd($html-entity-icon, $size: 18px, $color: $color-text);
      position: absolute;
      left: 7px;
      top: 8px;
    }
  } @else {
    &:before {
      display: none;
    }
  }

  a {
    color: $color-text;
    margin-left: 2px;
    font-family: $font-open-sans-bold;

    &:hover {
      text-decoration: none;
    }
  }
}

@mixin style-message-info($html-entity-icon: $html-entity-info) {
  @include style-message($color-info-light, $color-info-dark, $color-info-dark, $html-entity-icon);
}

@mixin style-message-error($html-entity-icon: $html-entity-error) {
  @include style-message($color-error-light, $color-error-dark, $color-error-dark, $html-entity-icon);
}

@mixin style-message-success($html-entity-icon: $html-entity-success) {
  @include style-message($color-success-light, $color-success-dark, $color-success-dark, $html-entity-icon);
}

@mixin style-message-warning($html-entity-icon: $html-entity-fixme) {
  @include style-message($color-warning-light, $color-warning-dark, $color-warning-dark, $html-entity-icon);
}