@import "../mixins/miwt-switch";

.prop-wrapper{
	.auto-complete {
		display: inline-block;
		margin: 0;
		padding: 0;
		@include checkboxSwitch(false, 13ch);
	}
	.allow-timeline-change-schedule {
		display: inline-block;
		margin: 0;
		padding: 0;
		@include checkboxSwitch(false, 40ch);
	}
}