@import "../config/base-vars";

.flip-card {
	perspective: 800;
	position: relative;
	text-align: center;
	//backface-visibility: hidden;

	&.flipped {
		transform: rotatey(-180deg);

		.face.back {
			transform: rotatey(180deg);
			backface-visibility: visible;
		}

	}
}
.flip-card {
	width: 270px;
	transform-style: preserve-3d;
	transition: 0.5s;
	background-color: #fff;

}
.flip-card .face {
	backface-visibility: hidden;
	z-index: 2;
}
.flip-card .face.front {
	position: absolute;
	z-index: 1;
}
.flip-card .face.back {
	padding-top: 10%;
	transform: rotatey(-180deg);
	background: $color-lr-light-grey;

	.card-text {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}

}