@import "../config/base-vars";
@import "../../../../bower_components/bootstrap/scss/mixins/hover";

$tab-color-bg: lighten($btn-primary-bg, 5%);
$tab-color-bg-selected: darken($btn-primary-bg, 10%);
$tab-color-fg: $color-white;

@import "../mixins/tabs";

$nav-color-bg: lighten($color-lr-blue, 5%);
$nav-bg-selected: darken($color-lr-blue, 10%);
$nav-fg: $color-white;

h2.plan-name {
	font-size: 2rem;
	border-bottom: 1px solid #ccc;
	margin: 1rem;
	padding-bottom: .5rem;
	color: $color-lr-grey;
}

.goals-viewer,
.goal-management{
	position: relative;
	.persistence-actions{
		position: absolute;
		right:4.25rem;
		top:calc(3.75rem + 1px);
		z-index: 1;
		height:2.5rem;
		.btn{
			color:$brand-primary;
			background-color: $color-white;
			&:hover{
				background-color: $color-smokey-white;
				color:$brand-primary;
			}
		}
	}
	.nav-actions {
		$nav-action-color: $brand-primary;
		.back /*, .other */ {
			&:before {
				color: $nav-action-color;
				@include hover {
					color: $nav-action-color;
				}

				&:focus,
				&.focus {
					color: $nav-action-color;
				}

				&:active,
				&.active,
				.open > &.dropdown-toggle {
					color: $nav-action-color;
					&:hover,
					&:focus,
					&.focus {
						color: $nav-action-color;
					}
				}
			}
			&:hover:before {
				color: darken($nav-action-color, 10%);
			}
		}
	}
	.tab-container {
		@include style-tab-elements;
	}
	.tab-container .tab-content {
		padding: 0;
		border-top-width:0;

		.navbar {
			padding:0;
			min-height: auto;
			border-radius: 0;
			background-color: $nav-color-bg;
			border-right:1px solid $nav-bg-selected;

			.nav-item + .nav-item {
				margin-left: 0;
			}

			.btn {
				color:$nav-fg;
				background-color: $nav-color-bg;
				padding: 0.55rem 1rem;
				border-radius: 0;

				&:hover {
					background-color: $nav-bg-selected;
				}

			}
			.active .btn {
				background-color: $nav-bg-selected;
			}

		}

	}
}

.goal-management {

	.repo-item-search .entity-actions {
		margin: 1.45rem 0 1rem;
		float: left;
		padding-left: 20px;
	}

	.pager-search-results {
		padding-left: 12px;

		.search-results.miwt-table {
			border: none;

			> thead { display: none; }

			> thead > tr > th, > tbody > tr > td {
				background: none;
				text-align: left;
			}
		}
	}

	.tracking-metric {
		+ .tracking-metric {
			padding-top: 25px;
			margin-top: 35px;
			border-top: 1px solid $color-cloud-grey;
		}
	}

}
