@import "../config/base-vars";

#main-content-wc-0 {

  > h2.plan-name {
    max-width: 70%;
  }

}

.plan-switcher {
  display: block;
  position: absolute;
  right: 2rem;
  top: 5.75rem;
  text-align: right;

  button.btn-switch {
    display: none;
  }

  span.select2-container {
    text-align: left;
  }

}

@media (min-width: 768px)
and (orientation: portrait) {
  .plan-switcher {
    top: 6.25rem;
  }
}

@media (max-width: 767px) {
  .plan-switcher {
    position: relative;
    left: 0;
    right: auto;
    top: 0;
    text-align: left;
    margin-bottom: 1rem;
  }
}