@import "../config/base-vars";
@import "../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../bower_components/bootstrap/scss/mixins/cards";

.resource-viewer {
	position: relative;
	display: block;
	margin-bottom: $card-spacer-y;
	background-color: $card-bg;
	border: $card-border-width solid $card-border-color;
	@include border-radius($card-border-radius);

	.prop-body {
		padding: 0;
		position: relative;
		display: block;
		margin-bottom: $card-spacer-y;
		background-color: $card-bg;
		border: $card-border-width solid $card-border-color;
		@include border-radius($card-border-radius);
	}
	.prop-footer .bottom.actions {
		text-align: center;
	}
}


.resource-name {
	font-size:1.75rem;
	margin: 0;
	text-align: center;
	padding: $card-spacer-y $card-spacer-x;
	background-color: $card-cap-bg;
	border-bottom: $card-border-width solid $card-border-color;

	&:first-child {
		@include border-radius($card-border-radius-inner $card-border-radius-inner 0 0);
	}
}

.resource-icon {
	margin-bottom: $card-spacer-y;
	border-top: 1px #ddd solid;
	border-bottom: 1px #777 solid;
	text-align: center;
	overflow: hidden;
}

.resource-description {
	margin-top: -($card-spacer-y / 2);
	margin-bottom: 0;
	padding: $card-spacer-y $card-spacer-x;
}

.resource-content{
	display: block;
	text-align: center;
	margin-top: $card-spacer-y;

	.resource-action a {
		@include hover {
			text-decoration: none;
		}

		+ .resource-action {
			margin-left: $card-spacer-x;
		}
	}

}

.resource-cite{
	display: flex;
	flex-direction: row;
	margin-bottom: 0;
	color: $text-muted;
	padding: $card-spacer-y $card-spacer-x;
	background-color: $card-cap-bg;
	border-top: $card-border-width solid $card-border-color;
	font-size: smaller;
	.resource-source,
	.resource-author{
		display: inline-block;
		flex:1;

		label{
			margin-right: 4px;
		}
		label:after {
			content: ": ";
		}
	}

	&:last-child {
		@include border-radius(0 0 $card-border-radius-inner $card-border-radius-inner);
	}
}

.resource-listing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.resource{
		position:relative;

		.actions {
			position: absolute;
			right:18px;
			top:16px;
			z-index:1;

			.btn {
				padding:0;
				margin:0;
				font-size:16px;
				height:24px;
				width:24px;
				overflow: hidden;
				display: #444;
				@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);

				&:before{
					display: block;
					content: "\f00d";
					font-size: 1rem;
					font-family: FontAwesome;
				}
				&:hover{
					background:$btn-danger-bg;
				}
			}
		}
	}
}