@import "../config/base-vars";

.meter {
  width: 200px;
  height: 30px;
  border:1px solid #ddd;
  padding:0;
  margin:0;
  box-sizing: border-box;
  position:relative;
  .cat {
    display:inline-block;
    width: 33.33333%;
    height:100%;
    padding:0;
    margin:0;
  }
  .low{
    background-color: $brand-danger;
  }
  .medium{
    background-color: $brand-warning;
  }
  .high {
    background-color: $brand-primary;
  }
  .indicator{
    position: absolute;
    width: 5px;
    height: 150%;
    background-color: $color-lr-black;
    z-index: 1;
    top:-25%;
  }
}
