@import "../config/base-vars";

.smart-gauge-label {
  font-weight: 400;
  color: $color-lr-grey;
  margin-bottom: 4px;
  &:after {
    content: ": ";
  }
}

.meter {
  width: 15rem;
  height: 30px;
  padding:0;
  margin:0;
  box-sizing: border-box;
  position:relative;
  border-radius: $border-radius-sm;
  .cat {
    display:inline-block;
    width: 33.33333%;
    height:100%;
    padding:0;
    margin:0;
  }
  .low{
    background-color: $brand-danger;
    border-top-left-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom: 3px solid darken($brand-danger, 18%);
  }
  .medium{
    background-color: $brand-warning;
    border-bottom: 3px solid darken($brand-warning, 18%);
  }
  .high {
    background-color: $brand-primary;
    border-top-right-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
    border-bottom: 3px solid darken($brand-primary, 18%);
  }
  .indicator{
    position: absolute;
    width: 1px;
    height: 130%;
    background-color: transparent;
    z-index: 1;
    top:-14%;

    &::before, &::after {
      content: '';
      background: none;
      position: absolute;
      margin-left: -18px;
      display: block;
    }

    &::before {
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 30px solid darken($lr-page-bg, 13%);
      bottom: -8px;
    }

    &::after {
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 30px solid $color-lr-grey;
      bottom: -5px;
    }

  }
}
