@import "../config/base-vars";
@import "../../../../bower_components/bootstrap/scss/mixins/hover";
@import "../../../../bower_components/bootstrap/scss/mixins/text-emphasis";
@import "../../../../bower_components/bootstrap/scss/mixins/alert";
@import "../../../../bower_components/bootstrap/scss/mixins/clearfix";

.flex-container {
	border-top: 3px solid $color-lr-light-grey;
	.timeline-ui{
		border-right: 3px solid $color-lr-light-grey;
		padding-right: 4px;
		& + .timeline-ui {
			border-right-width: 0;
			padding-right:0;
		}
	}
}

.select-year {
	label {
		display: none;
	}
	select.val {
		min-width: 5.5rem;
	}
}
.timeline {
	position: relative;
}
.plan-actions {
	margin: 5px 5px 0;
	float:right;
}
.plan-header,
.participant-timeline {
	background-color: $body-bg;
	border:none;
	margin-bottom: 0;
}

.timeline:before{
	background-color: lighten($color-lr-light-grey, 25%);
	bottom: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 5px;
	width: 10px;
	z-index: 0;
}
.timeline.no-data:before {
	display: none;
}

.timeline-desk {
	vertical-align: top;
	h1 {
		font-size: 16px;
		font-weight: 300;
		margin: 0 0 5px;
	}

	.card {
		display: block;
		margin-left: 25px;
		position: relative;
		text-align: left;
		background: $color-white;
		border-radius: .5rem;
	}
	.card-block {
		padding: .75rem;
		@include clearfix();
	}
	.arrow {
		/*border-bottom: 8px solid transparent;
		border-top: 8px solid transparent;
		border-right: 8px solid $color-white !important;
		display: block;
		height: 0;
		left: -8px;
		position: relative;
		width: 8px;
		z-index: 1;
		margin-top:.5rem;*/
		display: none;
	}
	p {
		font-size: 12px;
		margin-bottom: 0;
	}
	.panel {
		margin-bottom: 5px;
	}
}
.timeline-date {
	left: -200px;
	position: absolute;
	text-align: right;
	top: 12px;
	width: 150px;
}
.timeline-item {
	margin-bottom:2rem;
}
.timeline-item:before {
	content: "";
	display: block;
	width: 50%;
}

.timeline-icon-custom {
	margin-top:-10px;
	left: -20px;
	position: absolute;
	border-radius: 50%;
	display: block;
	height: 60px;
	width: 60px;
	z-index: 2;
	background-color: $color-lr-light-grey;
	border: 4px solid darken($color-lr-light-grey, 15%);
	text-align: center;
	.fa {
		font-size: 36px;
		margin-top: 7px;
		display: inline-block;
		color: $color-smokey-white;
	}
	.scheduled & {
		background-color: $color-lr-cyan;
		border-color: darken($color-lr-cyan, 15%);
	}
	.confirmed & {
		background-color: $color-lr-yellow;
		border-color: darken($color-lr-yellow, 15%);
	}
	.canceled &,
	.rescheduled & {
		background-color: $color-lr-canceled;
		border-color: darken($color-lr-canceled, 15%);
	}
	.in-progress & {
		background-color: $color-lr-blue;
		border-color: darken($color-lr-blue, 15%);
	}
	.overdue & {
		background-color: $color-lr-red;
		border-color: darken($color-lr-red, 15%);
	}
	.completed & {
		background-color: $color-lr-brand;
		border-color: darken($color-lr-brand, 15%);
	}
	.cat-on_boarding & .fa:before {
		content: "\f21d";
		display: inline-block;
		margin: 1px 0 0 2px;
	}
	.cat-survey & .fa:before {
		content: "\f044";
		display: inline-block;
		margin: 3px 0 0 3px;
	}
	.cat-assessment & .fa:before {
		content: "\f19c";
		display: inline-block;
		margin: 0 0 0 2px;
	}
}
.timeline-actions {
	text-align: center;
	margin: 4px auto;
}

.task-item {
	position:relative;
	border-radius: 0;
}

.task-item-name {
	font-size: 16px;
	display: inline-block;
}

.task-item-date {
	font-size: 12px;
}

.task-item-status {
	font-size: 12px;
}

.activity-summary {
	font-size: 10px;
	i.fa {
		cursor: help;
	}
	i.fa:not(:first-of-type) {
		padding-left: 2px;
	}
}

.actions.task-item-actions {
	position: absolute;
	top:4px;
	right:4px;
	height:100%;
	a.fa {
		text-decoration: none;
		color:inherit;
	}
	a.fa:hover {
		color: $color-black;
	}

	&:after {
		display: block;
		font-family: FontAwesome;
		font-size: 18px;
		position: absolute;
		bottom: 1rem;
		width:18px;
		height:18px;
		right: 0;
	}
	.task-item.pending &:after {
		content: "\f017";
	}
	.task-item.completed &:after {
		content: "\f00c";
	}
	.task-item.scheduled &:after {
		content: "\f274";
	}
	.task-item.in-progress &:after {
		content: "\f110";
	}
	.task-item.canceled &:after {
		content: "\f273";
	}
	.task-item.rescheduled &:after {
		content: "\f272";
	}
	.task-item.overdue &:after {
		content: "\f06d";
	}
}
.timeline-card {
	padding: .5rem 0 .5rem 1rem;
}
.timeline-card-actions {
	float:right;
	margin: -.5rem 0 0 0;
	> .btn {
		color: $color-lr-light-grey !important;
		background-color: transparent !important;
		box-shadow: none !important;
		border: none !important;
		font-size: 24px !important;
		padding: 0 !important;
		outline:none !important;
	}
	> .btn:hover {
		color: $color-lr-grey;
		background-color: transparent;
	}
}
.activity-name {
	margin:0;
}
.activity-status {
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	&:after {
		content: ": ";
	}
}
.activity-date {
	font-size: 14px;
	font-style: italic;
}
.activity-details {
	margin-bottom:1rem;
}

@include text-emphasis-variant('.activity-summary .pending', $color-lr-grey);
@include text-emphasis-variant('.activity-summary .scheduled', $brand-info);
@include text-emphasis-variant('.activity-summary .in-progress', $brand-info);
@include text-emphasis-variant('.activity-summary .completed', $brand-success);
@include text-emphasis-variant('.activity-summary .overdue', $brand-danger);
@include text-emphasis-variant('.activity-summary .canceled', $color-lr-canceled);
@include text-emphasis-variant('.activity-summary .rescheduled', $color-lr-canceled);

.task-item {
	border-left-width: 5px;

	&.pending {
		@include alert-variant(lighten($color-lr-light-grey, 25%), $color-lr-light-grey, $color-lr-black);
		border-left-color: $color-lr-grey;
	}

	&.completed {
		@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
		border-left-color: $brand-success;
	}
	&.overdue {
		@include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
		border-left-color: $brand-danger;
	}
	&.canceled, &.rescheduled {
		@include alert-variant(lighten($color-lr-canceled, 25%), $color-lr-canceled, darken($color-lr-canceled, 75%));
		border-left-color: $color-lr-canceled;
	}

	&.in-progress, &.scheduled {
		@include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
		border-left-color: $brand-info;
	}
}


.task-item-status {
	padding-right: 1ch;
}

.task-item-icon {
	display: inline-block;
	padding-right: 1ch;
}