.field span.label {
  color:#000;
}
header {
  img.logo {
    height:21px;
    vertical-align: text-bottom;
  }
  span.logo {
    font-size: 21px;
    color: #2e2e2e;
    text-transform: uppercase;
  }
}
.top-menu{
  >li.link {
    margin-right: 15px;
    margin-bottom: 7px;
  }
  >li > a {
    display:block;
    color: #444;
    font-size: 85%;
    border: 1px solid white;
    padding:6px;
    border-radius: 4px;
  }

  a.fa::before {
    display: block;
    font-size: 1.5rem;
  }

  a span {
    display: inline-block;
    margin-top: 5px;
  }
  img.profile-pic {
    border-radius: 20px;
    vertical-align: text-bottom;
  }
}
